<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
   
   <form action="/summary" method="POST">
        <h1>Type Here the Text to Be summarised:</h1>
        <textarea name="data" rows=20 cols=50>Enter Here or Paste Here!</textarea><br><br>
        <label>Summary Length in Words </label>
        <input type="number" name="word_count" min=25 value=25><br><br>
        <input type="submit" name="=submit">
    </form>
</center>
</body>
</html>